


button{
  font-family: 'myriadpro-light';
	background-color: $brand-primary !important;
	color: #FFF !important;
	border-radius: 0px !important;
	border: 0px;
	font-size: 16px !important;
  //padding-top: 4% !important;
  //padding-bottom: 4% !important;
  //padding-top: 12px !important;
  //padding-bottom: 12px !important;
  //height: 41px !important;
  //vertical-align: middle;
  height: auto !important;
  padding-top: 9px !important;
  padding-bottom: 7px !important;


  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 568px) 
  and (orientation : portrait) {
    margin-top:10px;
    font-size: 18px !important; 
    //padding-bottom: 28px !important;
  }

  @media (min-width: $screen-xs-min) { 
    margin-top: 4%;
    width: 90% !important;

  }

}


.deel-dit{
  position: relative;
  top:36px;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
  margin-top: 10px;
  
  margin-left: 85px;
  //margin-right: auto;
  width: 79px;
}

ul.share-buttons li{
  display: inline;
  padding: 3px;

}



ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

ul.share-buttons img{
  width: 32px;
}

.dummy{
  background-color: grey !important;
  //vertical-align: bottom  !important;

  // Center Block
  @include center-block();
  margin-bottom: 15%;
}

.cross{
    position: absolute;
    top: -85px;
    right: 32px;
    -webkit-transform: scale(.8);
    transform: scale(.6);
    z-index: 100;
    display: block;
    width: 75px;
    height: 75px;
    padding-top: 21px;
    padding-left: 21px;
}