


button{
	background-color: $brand-primary !important;
	color: #FFF !important;
	border-radius: 0px !important;
	border: 0px;
	font-size: 16px !important;
  //padding-bottom: 4% !important;

  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 568px) 
  and (orientation : portrait) {
    margin-top:10px;
    font-size: 18px !important; 
    padding-bottom: 28px !important;

  }

}




ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

ul.share-buttons img{
  width: 32px;
}

.dummy{
  background-color: grey !important;
  //vertical-align: bottom  !important;

  // Center Block
  @include center-block();
  margin-bottom: 15%;
}

.cross{
    position: absolute;
    top: -50px;
    right: 10px;
    -webkit-transform: scale(.8);
    transform: scale(.6);
}