// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}


input[type=text], input[type=email]{
  border-radius: 0px;
  border: 1px solid $brand-primary;
}

input[type=radio]{
	float: left;
	margin-right: 3%;
}
//cortection on the form page
.form{
  input[type=radio]{
    margin-top: 0px;
  }

  input[type=checkbox]{
    margin-top: 2px;
  }  
}


.home label{
  line-height: 15px;
}

.home .form-group{
  padding-top: 0px;
  padding-bottom: 0px;
}

label{
	display: table-cell;
	font-weight: 400;
  padding-top: 5px;
}

.form-group{
  margin: 0px;

}


form  img{
  max-height: 70px;
  @media (min-width: $screen-sm-min) { 
    max-height: 100%;
  }
}


//adjust the lay out form group for ontvanger page
.form-group{
  //padding-top: 1%;
  padding-bottom: 1%;
}

.warning{
  border:0px solid #fff !important;

}

.disabled{
  pointer-events:none;
  opacity: .5;
}

.enabled{
  pointer-events:mouse;
  opacity: 1;
}

//specific form adjustmets
.col-xs-8.col-sm-5.form-group{
  padding-right: 2px;
}


.col-xs-4.col-sm-2.form-group{
  padding-left: 2px;

  /* Small devices (tablets, 768px and up) */
  @media (min-width: $screen-sm-min) { 
    padding-right: 2px; 
  }
  
}

.col-xs-12.col-sm-5.form-group {

  @media (min-width: $screen-sm-min) { 
    padding-left: 2px;
  }
}


input[type=radio] {
  margin-left: 5px;
}

input[type="radio"], input[type="checkbox"]{
  display: none;
}

input[type="radio"] + label,  {
  display: inline-block;
  background:url(../images/radio.png);
  background-repeat: no-repeat;
  background-position-y : 2px;
  background-size: 17px 17px;
  padding-left: 20px;
  padding-right: 5px;
  margin-top: 5px;
 }

 input[type="checkbox"] + label {
  background:url(../images/check.png);
  background-repeat: no-repeat;
  background-size: 17px 20px;
  padding-left: 22px;

 }

 input[type="checkbox"] + label {
  padding-top: 2px;
  padding-bottom: 3px;
 }

input[type="radio"]:checked + label {
  //display: none;
  //background-color: green;
  background:url(../images/radio_select.png);
  background-position-y : 2px;
  background-repeat: no-repeat;
  background-size: 17px 17px;
  padding-left: 20px;
}

input[type="checkbox"]:checked + label {
  background:url(../images/check_select.png);
  background-repeat: no-repeat;
  background-size: 17px 20px;
  padding-left: 22px;
 }








