// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}


input[type=text], input[type=email]{
  border-radius: 0px;
  border: 1px solid $brand-primary;
}

input[type=radio]{
	float: left;
	margin-right: 3%;
}

label{
	display: table-cell;
	font-weight: 400;
  padding-top: 5px;
}

.form-group{
  margin: 0px;
}


form  img{
  max-height: 70px;
  @media (min-width: $screen-sm-min) { 
    max-height: 100%;
  }
}


//adjust the lay out form group for ontvanger page
.form-group{
  padding-top: 1%;
  padding-bottom: 1%
}

.warning{
  border:1px solid red !important;

}

.disabled{
  pointer-events:none;
  opacity: .5;
}

.enabled{
  pointer-events:mouse;
  opacity: 1;
}











