
@font-face {
    font-family: 'jennasue';
    src: url('../fonts/JennaSue.WOFF') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'myriadpro-regular';
    src: url('../fonts/MyriadPro-Regular.WOFF') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'myriadpro-bold';
    src: url('../fonts/MyriadPro-Bold.WOFF') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{
    margin: 0px !important;
    font-family: 'myriadpro-regular';
    color: $brand-primary;
    position: scroll;
}

h1, h2, h3, h4, h5{
    font-family: 'myriadpro-bold';
}
ul, ol {
    
    padding-left:0;
}​



.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.dropshadow{
    -moz-box-shadow: 1px 1px 2px #ccc;
    -webkit-box-shadow: 1px 1px 2px #ccc;
    box-shadow: 1px 1px 2px #ccc;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#ccc')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#ccc');
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    //need to make this correction
    .hint .content.row, .ontvanger .content.row {
        margin-left: -30px;
    }    

}

@media (min-width: $screen-md-min) { 
    .container { max-width: 650px; } 
}





