
@font-face {
    font-family: 'jennasue';
    src: url('../fonts/JennaSue.WOFF') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'myriadpro-regular';
    src: url('../fonts/MyriadPro-Regular.WOFF') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'myriadpro-bold';
    src: url('../fonts/MyriadPro-Bold.WOFF') format('woff');
    font-weight: normal;
    font-style: normal;
}


