
@font-face {
    font-family: 'jennasue';
    src: url('../fonts/JennaSue.WOFF') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'myriadpro-regular';
    src: url('../fonts/MyriadPro-Regular.WOFF') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'myriadpro-bold';
    src: url('../fonts/MyriadPro-Bold.WOFF') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{
    margin: 0px !important;
    font-family: 'myriadpro-regular';
    color: $brand-primary;
    position: scroll;
}

h1, h2, h3, h4, h5{
    font-family: 'myriadpro-bold';
}

.container, .container-fluid {
    padding-left: 5px;
    padding-right: 5px; 
}




