

//hide the

.logo{
	image-rendering: -webkit-optimize-contrast;
	//image-rendering: crisp-edges;
	//image-rendering: auto;
	height: 50px;
	//background: url('../images/temp_logo_xs.png') no-repeat center center fixed;
	background: url('../images/temp_logo_xs_1_24.png') no-repeat 50% ;
	background-size: cover;
	background-size: 80px 40px;
	//background: url('../images/temp_logo_xs.png') no-repeat  80px 40px;

	
	@media (min-width: $screen-sm-min) { 
		height: 70px;
		background: url('../images/temp_logo_xs_2_51.png') no-repeat  50%;
	}
}	


.hvs-header{

	background: url('http://www.hofvansaksen.nl/~/media/images/parken/hsn/1280x430/hsn_resort_01_47212_1280x430px.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    
  	//padding: 100px 0;
  	padding-top: 2%;
  	padding-bottom: 2%;
    text-align: center;

}

//ontbijt uitwaaien treatment dinner
.inivitation {

	width: 280px;
	height:130px;
	margin-left: auto;
	margin-right: auto;
	position: relative;

	//ontbijt uitwaaien treatment dinner
	label{
		z-index: 10;
		font-family: 'jennasue';
		color: #FFF;
		position: absolute;
	    font-size: 19px;
	    left: 150px;
	}

	//ontbijt uitwaaien treatment dinner
	//
	.ontvanger{
	    top: 20px;
	    z-index: 20;
	}

	//ontbijt uitwaaien treatment dinner
	.type{
		font-family: 'myriadpro-regular';
		font-size: 11px;
		background-color: $brand-primary;
		width: 120px;
    	text-align: left;
    	top: 52px;
	}

	.afzender{
	    top: 83px;
	}


	.three_lines{
		top: 95px;
	}

	img{
		//max-width: 100%;
		width: 280px ;
		height:130px;
	}
}

//hide on the invitation on the home page
.home{ 
	.hvs-header{
		display: none;
		@media (min-width: $screen-sm-min) { 
			display: block;
		}
	}

	.inivitation{
		visibility: hidden;
	}		
}

			






