

//hide the

.logo{
	image-rendering: -webkit-optimize-contrast;
	//image-rendering: crisp-edges;
	//image-rendering: auto;
	height: 70px;
	//background: url('../images/temp_logo_xs.png') no-repeat center center fixed;
	background: url('../images/logo_hvs.svg') no-repeat 50% ;
	background-size: cover;
	background-size: 110px 55px;
	//background: url('../images/temp_logo_xs.png') no-repeat  80px 40px;
	@media (min-width: $screen-sm-min) { 
		height: 100px;
		//background: url('../images/logo_hvs.svg') no-repeat  50%;
		background-size: 150px 75px;
	}
}	


.hvs-header{

	background: url('http://www.hofvansaksen.nl/~/media/images/parken/hsn/1280x430/hsn_resort_01_47212_1280x430px.jpg') no-repeat center center scroll ;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    
  	//padding: 100px 0;
  	padding-top: 2%;
  	padding-bottom: 2%;
    text-align: center;

    //margin-top: 60px !important;
    margin-bottom: 20px;


}

//4 types of background 

.hvs-header.fiets{
	background: url('../images/bg_fiets.png') no-repeat center center scroll ;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    

}

.hvs-header.breakfast{
	background: url('../images/bg_breakfast.png') no-repeat center center scroll;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    

}

.hvs-header.dinner{
	background: url('../images/bg_dinner.png') no-repeat center center scroll;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    

}

.hvs-header.treatment{
	background: url('../images/bg_treatment.png') no-repeat center center scroll;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    

}

//hide the header on the hints page
.hint .hvs-header, .form .hvs-header, .actievoorwaarden .hvs-header{
	display: none !important;
}

//show on desktop
@media (min-width: $screen-sm-min) { 
	.hint .hvs-header, .form .hvs-header{
		display: block !important;
	}
}



//rezize the header for ontvanger, emaol
.ontvanger .hvs-header, .email .hvs-header{
	height: 120px;
	padding-top: 0;
	padding-bottom: 0;
	background-position-y : 10px;

	@media (min-width: $screen-sm-min) { 
		//background-position-y : 15px;
    	height: 250px;
    	background-position-y : 0px ;
    }
}


//ontbijt uitwaaien treatment dinner
.inivitation {

	width: 280px;
	height:130px;
	margin-left: auto;
	margin-right: auto;
	position: relative;

	/* Small devices (tablets, 768px and up) */
	@media (min-width: $screen-sm-min) { 
		width: 460px;
		height:230px !important;
		top:20px;

		label{
			left: 245px !important;
			font-size: 22px !important;	
		}

		.ontvanger{
			top:40px !important;
		}

		.type{
			width: 170px !important;
			font-size: 14px !important;
			top:80px !important;
		}

		.afzender{
			top:140px !important;
			//left: 305px !important;
		}
	}

	//ontbijt uitwaaien treatment dinner
	label{
		z-index: 10;
		font-family: 'jennasue';
		color: #FFF;
		position: absolute;
	    font-size: 19px;
	    left: 150px;
	}

	//ontbijt uitwaaien treatment dinner
	//
	.ontvanger{
	    top: 20px;
	    z-index: 20;
	}

	//ontbijt uitwaaien treatment dinner
	.type{
		font-family: 'myriadpro-regular';
		font-size: 11px;
		width: 120px;
    	text-align: left;
    	top: 52px;
	}

	.afzender{
	    top: 83px;
	}


	.three_lines{
		top: 95px;
	}

	img{
		max-width: 100%;
		//width: 280px ;
		//height:130px;
	}
}

.pay_off{
	display: none;
}

.hint .hvs-header{
	 //height: 250px;
	 
     // .inivitation {
     // 	display: none;

     // }

     
 }



.home,.hint { 
	.hvs-header{
		
		max-height: 180px;

		@media (min-width: $screen-sm-min) { 
			display: block;
			max-height: 250px;
			.pay_off{
				top:50px;
			}

		}

		.pay_off{
			display: block;
    		color: #FFF !important;
		    text-shadow: 2px 2px 8px rgba(41, 55, 97, .4);
		    position: relative;
		    top:50px;
		    h1{
		        font-size: 50px;
		        margin-bottom: -10px;
		    }

		    h4{
				font-family: 'myriadpro-regular';
				font-size: 16px;
			}

		}
		//
	}

	.inivitation{
		visibility: hidden;
	}		
}


.bedankt-a, .bedankt-b,.form { 
	.hvs-header{
		max-height: 160px;

		@media (min-width: $screen-sm-min) { 
			display: block;
			max-height: 250px;
			.pay_off{
				top:60px !important;

				h1{
					font-size: 60px;	
				}
			}

		}

		.pay_off{
			display: block;
    		color: #FFF !important;
		    text-shadow: 2px 2px 8px rgba(41, 55, 97, .4);
		    position: relative;
		    top:30px;
		    h1{
		        font-size: 50px;
		        margin-bottom: -10px;
		    }

		    h4{
		    	display: none;
			}

		}
		//
	}

	.inivitation{
		visibility: hidden;
	}		
}


			






